language: python
os: linux

git:
  depth: 1

osx_image: xcode10

dist: bionic

jobs:
  include:
    # Linux
    - env: TARGET=x86_64-unknown-linux-gnu
      os: linux

before_script:
  # Install required Python versions
  - sudo add-apt-repository ppa:deadsnakes/ppa -y
  - sudo apt install python3.{6..9} python3.{6..9}-dev -y;

  # Clone Austin development branch
  - git clone --branch devel --depth 1 https://github.com/P403n1x87/austin.git ../austin

  # Compile Austin
  - cd ../austin
  - gcc -Wall -O3 -Os -s -pthread src/*.c -o src/austin
  - cd -

  - pip install nox==2020.5.24
  - pip install poetry==1.1.4

script:
  - export PATH="../austin/src:$PATH"
  - nox
  # nox -rs coverage
